@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "ITCGaramondStd-Bd";
    src: url("../public/fonts/ITCGaramondStd-Bd.ttf");
  }

  @font-face {
    font-family: "ITCGaramondStd-Lt";
    src: url("../public/fonts/ITCGaramondStd-Lt.ttf");
  }
  @font-face {
    font-family: "Adobe-Caslon-Pro-Regular";
    src: url("../public/fonts/Adobe-Caslon-Pro-Regular.ttf");
  }
  
.services summary{
  position: relative;
}
  
 summary::marker {
    content: "";
  }
.services  summary figure::after {
    color: #1A4782;
    content: '\002B';
    font-size: 20px;
    position: absolute;
    top: 0;
    right: -70%;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .6s transform ease;
  }
.services details[open] summary figure:after {
    transform: rotate(135deg);
  }
.services details[open] summary h2{
    font-style: italic;
  }
  