@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "ITCGaramondStd-Bd";
    src: url("../public/fonts/ITCGaramondStd-Bd.ttf");
  }

  @font-face {
    font-family: "ITCGaramondStd-Lt";
    src: url("../public/fonts/ITCGaramondStd-Lt.ttf");
  }
  @font-face {
    font-family: "Adobe-Caslon-Pro-Regular";
    src: url("../public/fonts/Adobe-Caslon-Pro-Regular.ttf");
  }
  
summary{
  position: relative;
}
  
  summary::marker {
    content: "";
  }
  summary h2::after {
    color: #1A4782;
    content: '\002B';
    font-size: 20px;
    position: absolute;
    top: -8px;
    right: 69%;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .6s transform ease;
  }
  details[open] summary h2:after {
    transform: rotate(125deg);
  }
  details[open] summary h2{
    font-style: italic;
  }
  